* {
    font-family: 'Cal Sans';
    font-weight: 400;
}

#myBoard {
    width: 60%;
    border-radius: 25px;
    /* touch-action: pinch-; */
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 20px;
}

.main-container {
    text-align: center;
}

#container {
    height: 30%;
}

body {
    padding-left: 30px;
    padding-right: 30px;
}

#gameboard {
    text-align: center;
}

#chessboard-background {
    height: 95%;
    /* width:auto; */
}

#scroll-pgn {
    max-width: 700px;
}

#liveAlertPlaceholder {
    margin: 20px;
}


@media (width <= 1200px) {
    #myBoard {
        width: 70%;
    }
}

@media (width <= 1100px) {
    #myBoard {
        width: 80%;
    }
}

@media (width <= 1000px) {
    #myBoard {
        width: 90%;
    }
}

@media (width <= 350px) {
    #myBoard {
        width: 100%;
    }
}